<template>
  <div class="main pt-24">
    <section class="request__actions bg-backgroundLight p-4 rounded-xl">
      <div class="request__actions_find">
        <div class="request__actions_find_categories">
          <p class="text-xl text-warmGray-300 mb-4">Категории для поиска</p>
          <div class="flex flex-row items-center">
            <input
              v-model="selectedFindCategories"
              class="mr-2"
              value="Услуга"
              type="checkbox"
              name="service_checkbox"
              id="service_checkbox"
            />
            <label for="service_checkbox" class="text-xl text-rose-500">Услуга</label>
          </div>
          <div class="flex flex-row items-center my-2">
            <input
              v-model="selectedFindCategories"
              class="mr-2"
              value="Товар"
              type="checkbox"
              name="product_checkbox"
              id="product_checkbox"
            />
            <label for="product_checkbox" class="text-xl text-indigo-500">Товар</label>
          </div>
          <div class="flex flex-row items-center">
            <input
              v-model="selectedFindCategories"
              class="mr-2"
              value="Доставка"
              type="checkbox"
              name="delevery_checkbox"
              id="delevery_checkbox"
            />
            <label for="delevery_checkbox" class="text-xl text-blue-500">Доставка</label>
          </div>
        </div>
        <div class="send__request mt-10">
          <p class="text-xl text-warmGray-300">Отправить свой запрос</p>
          <div class="mt-4">
            <textarea
              v-model="requestDescription"
              class="request_text w-full text-xl text-warmGray-300 bg-backgroundLight2 placeholder-warmGray-500 py-1 px-2 rounded-xl"
              name=""
              id=""
              cols="25"
              rows="10"
              placeholder="Описание запроса..."
            ></textarea>
            <div class="send__request_categories mt-4">
              <div class="flex flex-row items-center">
                <input
                  v-model="selectedRequestCategory"
                  class="mr-2"
                  value="Услуга"
                  type="radio"
                  name="radio_request"
                  id="service_radio_request"
                />
                <label for="service_radio_request" class="text-xl text-rose-500">Услуга</label>
              </div>
              <div class="flex flex-row items-center my-2">
                <input
                  v-model="selectedRequestCategory"
                  class="mr-2"
                  value="Товар"
                  type="radio"
                  name="radio_request"
                  id="product_radio_request"
                />
                <label for="product_radio_request" class="text-xl text-indigo-500">Товар</label>
              </div>
              <div class="flex flex-row items-center">
                <input
                  v-model="selectedRequestCategory"
                  class="mr-2"
                  value="Доставка"
                  type="radio"
                  name="radio_request"
                  id="delevery_radio_request"
                />
                <label for="delevery_radio_request" class="text-xl text-blue-500">Доставка</label>
              </div>
            </div>
            <div class="send__request_price mt-4">
              <p class="text-xl text-warmGray-300">Цена</p>
              <input
                v-model="requestPrice"
                type="number"
                class="text-xl text-green-500 bg-backgroundLight2 placeholder-warmGray-500 w-full py-1 px-2 mt-2 rounded-full"
              />
            </div>
            <button
              @click="sendUserRequest"
              class="text-2xl text-backgroundLight bg-green-500 hover:bg-emerald-500 transition py-2 px-3 mt-6 rounded-xl"
            >
              Отправить
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="all-user-requests flex flex-col h-full">
      <UserRequest
        v-for="request in filteredUserRequests"
        :key="request.id"
        :request="request"
        class="mb-8"
      />
    </section>
  </div>
</template>

<script>
import moment from 'moment';
import { useToast } from 'vue-toastification';
import UserRequest from '../components/UserRequest.vue';

moment.locale('ru')

export default {
  name: 'Home',
  components: {
    UserRequest,
  },

  computed: {
    allUsersRequests() {
      return this.$store.getters.getAllUsersRequests;
    },

    filteredUserRequests() {
      return this.allUsersRequests
        .filter((request) => this.selectedFindCategories.includes(request.requestType))
        .filter((request) => request.authorId != this.currentUser.id)
        .filter((request) => request.status == 'Ожидание');
    },

    currentUser() {
      return this.$store.getters.getCurrentUser;
    },
  },

  data() {
    return {
      requestId: 5,
      selectedFindCategories: ['Услуга', 'Товар', 'Доставка'],
      requestDescription: '',
      selectedRequestCategory: 'Услуга',
      requestPrice: 100,
    };
  },

  methods: {
    getDateTime() {
      return moment().format('LT L')
    },

    sendUserRequest() {
      const toast = useToast();

      if (this.requestPrice > this.currentUser.cash) {
        toast.error('Недостаточно средств', {
          position: 'bottom-left',
          timeout: 2000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: true,
          closeButton: 'button',
          icon: true,
          rtl: false,
        });

        return false;
      }

      const newCurrentUserCash = this.currentUser.cash - this.requestPrice
      const newCurrentUserFreezedCash = this.currentUser.freezedCash + this.requestPrice

      const cash = {
        cash: newCurrentUserCash,
        freezedCash: newCurrentUserFreezedCash,
      }

      const userRequest = {
        id: this.requestId,
        authorId: this.currentUser.id,
        requestAuthorUsername: this.currentUser.discordUsername,
        requestTime: this.getDateTime(),
        requestType: this.selectedRequestCategory,
        requestPrice: this.requestPrice,
        requestDescription: this.requestDescription,
        status: 'Ожидание',
      };

      this.$store.commit('addUserRequest', userRequest);
      this.$store.commit('updateCurrentUserCash', cash);

      toast.success('Опубликовано', {
        position: 'bottom-left',
        timeout: 2000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false,
      });

      this.requestDescription = '';

      this.requestId++;
    },
  },
};
</script>

<style>
input[type='checkbox'],
input[type='radio'] {
  position: relative;
  width: 1rem;
  height: 1rem;
  color: #d6d3d1;
  border: 1px solid #d6d3d1;
  background-color: #d6d3d1;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}

#service_checkbox:checked,
#service_radio_request:checked {
  color: #d6d3d1;
  border-color: #f43f5e;
  background: #f43f5e;
}

#product_checkbox:checked,
#product_radio_request:checked {
  color: #d6d3d1;
  border-color: #6366f1;
  background: #6366f1;
}

#delevery_checkbox:checked,
#delevery_radio_request:checked {
  color: #d6d3d1;
  border-color: #3b82f6;
  background: #3b82f6;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.all-user-requests {
  margin-left: 2rem;
}

label {
  cursor: pointer;
}

.request_text {
  resize: none;
}

.request__actions {
  flex: 50%;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }

  .all-user-requests {
    margin-left: 0;
  }

  .request__actions {
    margin-bottom: 2rem;
  }
}
</style>
