<template>
  <div class="profile pt-24">
    <ProfileCard :user="currentUser"/>
  </div>
</template>

<script>
import ProfileCard from '../components/ProfileCard.vue'

export default {
  name: "Profile",
  components: {
    ProfileCard
  },
  computed: {
    currentUser() {
      return this.$store.getters.getCurrentUser
    },
  }
};
</script>
