<template>
  <div class="current-user__requests flex flex-col mt-24 sm:mx-0 lg:mx-24">
    <div class="flex flex-row justify-center">
      <button
        @click="selectCurrentUserRequests()"
        :class="selectedCurrentUserRequestsBg"
        class="text-lg md:text-2xl text-warmGray-300 mr-3 py-2 px-3 rounded-xl"
      >
        Ваши запросы
      </button>
      <button
        @click="selectCurrentUserRequestsTaken()"
        :class="selectedCurrentUserRequestsTakenBg"
        class="text-lg md:text-2xl text-warmGray-300 ml-3 py-2 px-3 rounded-xl"
      >
        Принятые запросы
      </button>
    </div>
    <div v-if="selectedRequests == 'currentUser'" class="current-user__requests">
      <div v-if="currentUserRequests.length != 0">
      <UserRequest
        v-for="request in currentUserRequests"
        :key="request.id"
        :request="request"
        class="mt-8"
      />
      </div>
      <div v-else class="mt-12 text-center">
        <p class="text-4xl text-trueGray-200 mb-4">Вы не сделали ни одного запроса</p>
        <router-link to='/' class="text-2xl text-blue-500 hover:text-indigo-500 underline transition">Сделать запрос</router-link>
      </div>
    </div>
    <div v-if="selectedRequests == 'currentUserTaken'" class="current-user__taken-requests">
      <div v-if="currentUserRequestsTaken.length != 0">
      <UserRequest
        v-for="request in currentUserRequestsTaken"
        :key="request.id"
        :request="request"
        class="mt-8"
      />
      </div>
      <div v-else class="mt-12 text-center">
        <p class="text-4xl text-trueGray-200 mb-4">Вы не приняли ни одного запроса</p>
        <router-link to='/' class="text-2xl text-blue-500 hover:text-indigo-500 underline transition">Принять запрос</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import UserRequest from '../components/UserRequest.vue';

export default {
  name: 'Requests',
  components: {
    UserRequest,
  },

  computed: {
    selectedCurrentUserRequestsBg() {
      if (this.selectedRequests == 'currentUser') {
        return 'bg-backgroundLight2'
      }
      return 'bg-backgroundLight'
    },

    selectedCurrentUserRequestsTakenBg() {
      if (this.selectedRequests == 'currentUserTaken') {
        return 'bg-backgroundLight2'
      }
      return 'bg-backgroundLight'
    },

    currentUser() {
      return this.$store.getters.getCurrentUser;
    },

    allUserRequests() {
      return this.$store.getters.getAllUsersRequests;
    },

    currentUserRequests() {
      return this.allUserRequests.filter((request) => request.authorId == this.currentUser.id);
    },

    currentUserRequestsTaken() {
      return this.allUserRequests.filter((request) => request.performerId == this.currentUser.id);
    },
  },

  data() {
    return {
      selectedRequests: 'currentUser',
    };
  },

  methods: {
    selectCurrentUserRequests() {
      this.selectedRequests = 'currentUser';
    },

    selectCurrentUserRequestsTaken() {
      this.selectedRequests = 'currentUserTaken';
    },
  },
};
</script>

<style></style>
