<template>
  <nav class="navbar fixed bg-background top-0 left-0 z-50 py-3 h-16 w-full items-center shadow-lg">
    <div class="navbar_header_content px-6">
      <div class="navbar_title flex flex-row items-center">
        <BeakerIcon class="w-8 h-8 mr-3 text-violet-500" />
        <p class="text-2xl text-trueGray-200">Minecraft</p>
      </div>
    </div>
    <div class="navbar_burger absolute top-0 right-0 pt-1.5 pr-3">
      <Menu as="div" class="relative inline-block text-left">
        <MenuButton class="profile_button">
          <div class="flex flex-row">
            <img class="w-12 mr-2 rounded-xl" :src="currentUser.avatarUrl" alt="" />
            <ChevronDownIcon class="h-6 w-6 text-violet-500 my-auto toggleNavbarBtnIcon" />
          </div>
        </MenuButton>
        <transition
          enter-active-class="transition duration-100 ease-out"
          enter-from-class="transform scale-75 opacity-0"
          enter-to-class="transform scale-100 opacity-100"
          leave-active-class="transition duration-100 ease-in"
          leave-from-class="transform scale-100 opacity-100"
          leave-to-class="transform scale-75 opacity-0"
        >
          <MenuItems
            as="div"
            class="absolute right-0 w-64 mt-4 bg-background p-3 focus:outline-none rounded-md shadow-xl"
          >
            <div class="flex flex-row py-2">
              <img
                class="w-12 mr-4 mb-2 rounded-xl"
                src="https://cdn.discordapp.com/avatars/898109824523440129/2a79acaa5be2e9485baf1c1024a6e5dc.png?size=128"
                alt=""
              />
              <div class="flex flex-col text-left">
                <p class="text-md text-warmGray-200">
                  {{ currentUser.discordUsername.split('#')[0] }}
                </p>
                <p class="text-md text-violet-500">
                  #{{ currentUser.discordUsername.split('#')[1] }}
                </p>
              </div>
            </div>
            <MenuItem class="mb-1 px-1">
              <router-link
                to="/"
                class="text-lg text-warmGray-300 hover:text-indigo-500 group flex font-normal rounded-md my-auto items-center w-full transition"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-1 my-auto text-trueGray-200 group-hover:text-indigo-500 transition"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  />
                </svg>
                Главная
              </router-link>
            </MenuItem>
            <MenuItem class="mb-1 px-1">
              <router-link
                to="/news"
                class="text-lg text-warmGray-300 hover:text-indigo-500 group flex font-normal rounded-md my-auto items-center w-full transition"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-1 my-auto text-trueGray-200 group-hover:text-indigo-500 transition"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
                  />
                </svg>
                Новости
              </router-link>
            </MenuItem>
            <MenuItem class="mb-1 px-1">
              <router-link
                to="/requests"
                class="text-lg text-warmGray-300 hover:text-indigo-500 group flex font-normal rounded-md my-auto items-center w-full transition"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-1 my-auto text-trueGray-200 group-hover:text-indigo-500 transition"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z"
                  />
                </svg>
                Запросы
              </router-link>
            </MenuItem>
            <MenuItem class="mb-1 px-1">
              <router-link
                to="/profile"
                class="text-lg text-warmGray-300 hover:text-indigo-500 group flex font-normal rounded-md my-auto items-center w-full transition"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-1 my-auto text-trueGray-200 group-hover:text-indigo-500 transition"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                Профиль
              </router-link>
            </MenuItem>
            <MenuItem class="mt-4 mb-1 px-1">
              <p
                class="text-lg text-warmGray-300 flex font-normal rounded-md my-auto items-center w-full"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-1 my-auto text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
                Баланс: {{ currentUser.cash }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 my-auto ml-1 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </p>
            </MenuItem>
            <MenuItem class="px-1">
              <p
                class="text-lg text-warmGray-300 flex font-normal rounded-md my-auto items-center w-full"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-1 my-auto text-sky-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
                Заморожено: {{ currentUser.freezedCash }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 my-auto text-sky-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </p>
            </MenuItem>
            <MenuItem class="mt-4 px-1">
              <router-link
                to="/leave"
                class="text-lg text-red-500 hover:text-red-600 group flex font-normal rounded-md my-auto items-center w-full transition"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                  />
                </svg>
                Выйти
              </router-link>
            </MenuItem>
          </MenuItems>
        </transition>
      </Menu>
    </div>
  </nav>
</template>

<script>
import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue';
import { ChevronDownIcon } from '@heroicons/vue/solid';
import { BeakerIcon } from '@heroicons/vue/outline';

export default {
  name: 'navbar',
  components: {
    Menu,
    MenuButton,
    MenuItems,
    MenuItem,
    ChevronDownIcon,
    BeakerIcon,
  },
  computed: {
    currentUser() {
      return this.$store.getters.getCurrentUser;
    },
  },
};
</script>

<style>
.toggleNavbarBtnIcon {
  transition: 0.4s;
}

.profile_button:hover .toggleNavbarBtnIcon {
  transform: rotate(180deg);
}

.toggleNavbarBtnIcon:hover {
  transform: rotate(180deg);
}
</style>
