<template>
  <div class="profile__card__main_subcard bg-backgroundLight p-6 rounded-xl shadow-lg">
    <div class="flex flex-row mb-4">
      <p class="text-2xl text-coolGray-100 mr-2">
        {{ profileSubCardTitle }}
      </p>
      <slot name="profileSubCardIcon"></slot>
    </div>
    <slot name="profileSubCardBody"></slot>
  </div>
</template>

<script>
export default {
  props: {
    profileSubCardTitle: {
      type: String,
      required: true,
    },
  },
};
</script>

<style></style>
