<template>
  <div class="profile__card">
    <div
      class="profile__card__header p-6 bg-backgroundLight rounded-xl shadow-lg flex flex-row mb-8"
    >
      <div class="profile__card__header_avatar mr-6">
        <img
          class="w-32 rounded-xl"
          :src="user.avatarUrl"
          alt=""
        />
      </div>
      <div class="profile__card__header_info">
        <p class="profile__card__header_username text-4xl text-trueGray-200">
          {{ user.username }}
        </p>
        <p class="profile__card__header_userid text-2xl mb-2 text-warmGray-300">
          {{ user.discordUsername.split('#')[0] }}<span class="text-violet-500">#</span>{{ user.discordUsername.split('#')[1] }}
        </p>
      </div>
    </div>
    <div class="profile__card__main">
      <ProfileSubCard :profileSubCardTitle="'О себе'" id="subcard_about">
        <template #profileSubCardIcon>
          <IdentificationIcon class="text-2xl text-indigo-500 h-8 w-8" />
        </template>
        <template #profileSubCardBody>
          <p class="text-xl text-warmGray-300">
            {{ user.about }}
          </p>
        </template>
      </ProfileSubCard>
      <ProfileSubCard :profileSubCardTitle="'Рейтинг'" id="subcard_trending">
        <template #profileSubCardIcon>
          <TrendingUpIcon class="text-2xl text-green-500 h-8 w-8" />
        </template>
        <template #profileSubCardBody>
          <p class="text-3xl text-green-500">{{ user.trending }}</p>
        </template>
      </ProfileSubCard>
      <ProfileSubCard :profileSubCardTitle="'Статус'" id="subcard_status">
        <template #profileSubCardIcon>
          <UserCircleIcon class="text-2xl text-amber-500 h-8 w-8" />
        </template>
        <template #profileSubCardBody>
          <p class="text-2xl text-warmGray-300">{{ user.status }}</p>
        </template>
      </ProfileSubCard>
      <ProfileSubCard :profileSubCardTitle="'Баланс'" id="subcard_cash">
        <template #profileSubCardIcon>
          <CashIcon class="text-2xl text-emerald-500 h-8 w-8" />
        </template>
        <template #profileSubCardBody>
          <p class="text-2xl text-warmGray-300">
            {{ user.cash }}<span class="text-emerald-500">$</span>
          </p>
        </template>
      </ProfileSubCard>
      <ProfileSubCard :profileSubCardTitle="'Роли'" id="subcard_roles">
        <template #profileSubCardIcon>
          <HashtagIcon class="text-2xl text-violet-500 h-8 w-8" />
        </template>
        <template #profileSubCardBody>
          <div class="flex flex-row items-center">
            <p
              v-for="role in user.roles.slice(0, user.roles.length - 1)"
              :key="role"
              class="text-2xl text-warmGray-300 mr-2"
            >
              {{ role }},
            </p>
            <p class="text-2xl text-warmGray-300">
              {{ user.roles[user.roles.length - 1] }}
            </p>
          </div>
        </template>
      </ProfileSubCard>
      <ProfileSubCard :profileSubCardTitle="'Друзья'" id="subcard_friends">
        <template #profileSubCardIcon>
          <UserGroupIcon class="text-2xl text-rose-500 h-8 w-8" />
        </template>
        <template #profileSubCardBody>
          <p class="text-2xl text-warmGray-300">{{ user.friends }}</p>
        </template>
      </ProfileSubCard>
    </div>
  </div>
</template>

<script>
import ProfileSubCard from "./ProfileSubCard.vue";
import {
  IdentificationIcon,
  TrendingUpIcon,
  UserCircleIcon,
  CashIcon,
  HashtagIcon,
  UserGroupIcon,
} from "@heroicons/vue/outline";

export default {
  components: {
    ProfileSubCard,
    IdentificationIcon,
    TrendingUpIcon,
    UserCircleIcon,
    CashIcon,
    HashtagIcon,
    UserGroupIcon,
  },

  props: {
    user: {
      type: Object,
      required: true
    }
  },
};
</script>

<style>
#subcard_about {
  grid-area: "about";
}

#subcard_trending {
  grid-area: "trending";
}

#subcard_status {
  grid-area: "status";
}

#subcard_cash {
  grid-area: "cash";
}

#subcard_roles {
  grid-area: "roles";
}

#subcard_friends {
  grid-area: "friends";
}

.profile__card__main {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas:
    "about trending"
    "status cash"
    "roles friends";
}

@media screen and (max-width: 768px) {
  .profile__card__main {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-areas:
      "about"
      "trending"
      "status"
      "cash"
      "roles"
      "friends";
  }
}
</style>
