<template>
  <div class="">
    <div class="user-request__card h-auto bg-backgroundLight p-4 rounded-xl">
      <div class="user-request__card__header flex flex-row justify-between">
        <div class="">
          <p class="user-request__card__header_username text-xl text-warmGray-200">
            {{ request.requestAuthorUsername }}
          </p>
          <p :class="userRequestTypeColor" class="user-request__card__header_category text-xl mt-3">
            {{ request.requestType }}
          </p>
          <p
            class="user-request__card__header_price text-2xl text-green-500 mt-2 flex flex-row items-center"
          >
            {{ request.requestPrice }}
            <CurrencyDollarIcon class="text-green-500 w-7 h-7 ml-1" />
          </p>
        </div>
        <div class="user-request__card__header_time text-right">
          <p class="text-xl text-trueGray-300">{{ request.requestTime }}</p>
        </div>
      </div>
      <div class="user-request__card__body mt-6">
        <p class="user-request__card__body_description text-xl text-trueGray-300">
          {{ request.requestDescription }}
        </p>
      </div>
      <div
        v-if="request.authorId != currentUser.id && request.performerId != currentUser.id"
        class="user-request__card__footer mt-6"
      >
        <button
          @click="takeUserRequest(request)"
          :class="userRequestButtonColor"
          class="text-2xl text-backgroundLight hover:bg-backgroundLight2 transition py-2 px-3 rounded-xl"
        >
          Принять
        </button>
      </div>
      <div class="flex flex-row items-center justify-between">
        <div v-if="request.performerUsername" class="user-request__performer mt-6">
          <p class="text-xl text-warmGray-300">
            Исполнитель:
            <span :class="userRequestStatusColor">{{ request.performerUsername }}</span>
          </p>
        </div>
        <div
          v-if="request.performerId == currentUser.id"
          class="user-request__preformer_actions mt-6 flex flex-row items-center"
        >
          <div class="user-request__preformer_complete mr-2">
            <button
              @click="addPerformerToRequest(request)"
              class="text-xl text-backgroundLight-200 bg-green-500 hover:text-green-500 hover:bg-backgroundLight2 py-2 px-3 rounded-xl transition"
            >
              Завершить
            </button>
          </div>
          <div class="user-request__preformer_cancel">
            <button
              @click="cancelRequest(request)"
              class="text-xl text-backgroundLight bg-rose-500 hover:text-rose-500 hover:bg-backgroundLight2 py-2 px-3 rounded-xl transition"
            >
              Отменить
            </button>
          </div>
        </div>
      </div>
      <div
        v-if="request.authorId == currentUser.id"
        class="user-request__card__footer flex flex-row items-center justify-between mt-6"
      >
        <p class="text-xl text-trueGray-300 flex flex-row items-center">
          <ClockIcon class="w-6 h-6 text-warmGray-400 mr-1" /> Статус:
          <span :class="userRequestStatusColor" class="text-xl ml-2">{{ request.status }}</span>
        </p>
        <div class="user-request__card__footer_accept flex flex-row items-center">
          <button
            v-if="request.status == 'Выполнено'"
            @click="acceptRequest(request)"
            class="text-xl text-backgroundLight bg-green-500 hover:text-emerald-500 hover:bg-backgroundLight2 mr-4 py-2 px-2 rounded-xl transition"
          >
            Завершить
          </button>
          <button
            @click="deleteCurrentUserRequest(request.id)"
            class="text-rose-500 hover:text-rose-600"
          >
            <TrashIcon class="w-6 h-6" />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useToast } from 'vue-toastification';
import { CurrencyDollarIcon, ClockIcon, TrashIcon } from '@heroicons/vue/outline';

export default {
  components: {
    CurrencyDollarIcon,
    ClockIcon,
    TrashIcon,
  },
  props: {
    request: {
      type: Object,
      required: true,
    },
  },

  computed: {
    userRequestButtonColor() {
      if (this.request.requestType == 'Услуга') {
        return 'hover:text-rose-500 bg-rose-500';
      } else if (this.request.requestType == 'Товар') {
        return 'hover:text-indigo-500 bg-indigo-500';
      }
      return 'hover:text-blue-500 bg-blue-500';
    },

    userRequestTypeColor() {
      if (this.request.requestType == 'Услуга') {
        return 'text-rose-500';
      } else if (this.request.requestType == 'Товар') {
        return 'text-indigo-500';
      }
      return 'text-blue-500';
    },

    userRequestStatusColor() {
      if (this.request.status == 'Выполнено') {
        return 'text-green-500';
      } else if (this.request.status == 'Ожидание') {
        return 'text-orange-500';
      }
      return 'text-indigo-500';
    },

    currentUser() {
      return this.$store.getters.getCurrentUser;
    },
  },

  methods: {
    deleteCurrentUserRequest(requestId) {
      const newCurrentUserCash = this.currentUser.cash + this.request.requestPrice;
      const newCurrentUserFreezedCash = this.currentUser.freezedCash - this.request.requestPrice;

      const params = {
        requestId: requestId,
        cash: newCurrentUserCash,
        freezedCash: newCurrentUserFreezedCash,
      };
      this.$store.commit('deleteCurrentUserRequest', params);

      const toast = useToast();

      toast.error('Запрос удален', {
        position: 'bottom-left',
        timeout: 2000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false,
      });
    },

    takeUserRequest(request) {
      const params = {
        requestId: request.id,
        performerId: this.currentUser.id,
        performerUsername: this.currentUser.discordUsername,
        status: 'Выполнение',
      };

      this.$store.commit('addPerformerToRequest', params);

      const toast = useToast();

      toast.success('Запрос принят', {
        position: 'bottom-left',
        timeout: 2000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false,
      });
    },

    cancelRequest(request) {
      const params = {
        requestId: request.id,
        performerId: 0,
        performerUsername: '',
        status: 'Ожидание',
        completed: false,
      };

      this.$store.commit('addPerformerToRequest', params);

      const toast = useToast();

      toast.error('Вы отказались от выполнения', {
        position: 'bottom-left',
        timeout: 2000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false,
      });
    },

    addPerformerToRequest(request) {
      const params = {
        requestId: request.id,
        performerId: this.currentUser.id,
        performerUsername: this.currentUser.discordUsername,
        status: 'Выполнено',
        completed: true,
      };

      this.$store.commit('addPerformerToRequest', params);

      const toast = useToast();

      toast.success('Запрос подтвержден, дождитесь подтверждения от заказчика', {
        position: 'bottom-left',
        timeout: 2000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false,
      });
    },

    acceptRequest(request) {
      const userPerformerCash = this.request.requestPrice;
      const newCurrentUserFreezedCash = this.currentUser.freezedCash - this.request.requestPrice;

      const params = {
        requestId: this.request.id,
        cash: userPerformerCash,
        freezedCash: newCurrentUserFreezedCash,
        performerId: request.performerId
      };

      this.$store.commit('acceptRequest', params);

      const toast = useToast();

      toast.success('Запрос завершен', {
        position: 'bottom-left',
        timeout: 2000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false,
      });
    },
  },
};
</script>

<style></style>
