<template>
  <NavigationBar />
  <div class="container mx-auto p-3">
    <router-view />
  </div>
</template>

<script>
import NavigationBar from "./components/NavigationBar.vue";

export default {
  components: {
    NavigationBar,
  },
};
</script>

<style>

html {
  font-size: calc(12px + 4 * ((100vw) / 1400));
  font-family: "Roboto", sans-serif;
}

a.router-link-exact-active {
  color: #8b5cf6;
}

a.router-link-exact-active > svg {
  color: #8b5cf6;
}
</style>
